{% extends 'templates/_base.html' %}

{% block content %}
        <ul>
            {% for product in products %}
            <li>
                <a href="?product={{ product.name }}">
                    {{ product.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
{% block main %}
<ul>
    {% for product in pages|groupby('product_data.name') %}
    <li>
        <a href="?productname={{ product.grouper|e }}">
            {{ product.grouper }}
        </a>
    <ul>
    {% for page in product.list %}
        <li>
            {{ page.url}},

            $ {{ page.current_price|round(2)}}, ourprice=
            {{ page.product_data.our_price|round(2) }}
            {% if page.current_price < page.product_data.our_price %}
             {{ page.product_data.our_price|round(2) - page.current_price|round(2) }}

            {% endif %}
        </li>
        {% endfor %}</ul></li>
    {% endfor %}
</ul>
{% endblock %}