{% extends 'templates/_base.html' %}

{% block content %}
        <ul>
            {% for product in products %}
            <li>
                <a href="?product={{ product.name }}">
                    {{ product.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
{% block main %}
<ul>
    {% for group in prices|groupby('product_data.name') %}
    <li>{{ group.grouper }}<ul>
        {% for product in group.list %}
        <li>
            {{ product.url}},
            $ {{ product.current_price}}
        </li>
        {% endfor %}</ul></li>
    {% endfor %}
</ul>
{% endblock %}